@font-face {
    font-family: 'KabelBook';
    src: url('../fonts/ITCKabelStd-Book.eot');
    src: url('../fonts/ITCKabelStd-Book.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ITCKabelStd-Book.woff2') format('woff2'),
         url('../fonts/ITCKabelStd-Book.woff') format('woff'),
         url('../fonts/ITCKabelStd-Book.ttf') format('truetype'),
         url('../fonts/ITCKabelStd-Book.svg#ITCKabelStd-Book') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'KabelDemi';
    src: url('../fonts/ITCKabelStd-Demi.eot');
    src: url('../fonts/ITCKabelStd-Demi.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ITCKabelStd-Demi.woff2') format('woff2'),
         url('../fonts/ITCKabelStd-Demi.woff') format('woff'),
         url('../fonts/ITCKabelStd-Demi.ttf') format('truetype'),
         url('../fonts/ITCKabelStd-Demi.svg#ITCKabelStd-Demi') format('svg');
    font-weight: normal;
    font-style: normal;
}