
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
    display: block;
}


audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}


audio:not([controls]) {
    display: none;
}


[hidden] {
    display: none;
}


html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}


html,
button,
input,
select,
textarea {
    font-family: sans-serif;
    color: #222;
}


body {
    margin: 0;
    font-size: 1em;
    line-height: 1.4;
}


::-moz-selection {
    background: #cccccc;
    color: #fff;
    text-shadow: none;
}


::selection {
    background: #cccccc;
    color: #fff;
    text-shadow: none;
}


abbr[title] {
    border-bottom: 1px dotted;
}


b,
strong {
    font-weight: bold;
}


blockquote {
    margin: 1em 40px;
}


dfn {
    font-style: italic;
}


hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


ins {
    background: #ff9;
    color: #000;
    text-decoration: none;
}

mark {
    background: #ff0;
    color: #000;
    font-style: italic;
    font-weight: bold;
}


pre,
code,
kbd,
samp {
    font-family: monospace, serif;
    _font-family: 'courier new', monospace;
    font-size: 1em;
}


pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

q {
    quotes: none;
}

q:before,
q:after {
    content: "";
    content: none;
}



small {
    font-size: 85%;
}



sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}


sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

ul,
ol {
    margin: 1em 0;
    padding: 0 0 0 40px;
}


dd {
    margin: 0 0 0 40px;
}

nav ul,
nav ol {
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
}

img {
    border: 0;
    -ms-interpolation-mode: bicubic;
    vertical-align: middle;
}

svg:not(:root) {
    overflow: hidden;
}

figure {
    margin: 0;
}


form {
    margin: 0;
}


fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}


label {
    cursor: pointer;
}


legend {
    border: 0;
    *margin-left: -7px;
    padding: 0;
    white-space: normal;
}

button,
input,
select,
textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    *vertical-align: middle;
}


button,
input {
    line-height: normal;
}


button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
    *overflow: visible;
}


button[disabled],
input[disabled] {
    cursor: default;
}


input[type="checkbox"],
input[type="radio"] {
    padding: 0;
    *width: 13px;
    *height: 13px;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

input:invalid,
textarea:invalid {
    background-color: #f0dddd;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


td {
    vertical-align: top;
}



.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: black;
    padding: 0.2em 0;
}



a {
    color: #00e;
}


a:visited {
    color: #551a8b;
}


a:hover {
    color: #06e;
}


a:focus {
    outline: thin dotted;
}

a:hover,
a:active {
    outline: 0;
}

.ir {
    display: block;
    border: 0;
    text-indent: -999em;
    overflow: hidden;
    background-color: transparent;
    background-repeat: no-repeat;
    text-align: left;
    direction: ltr;
    *line-height: 0;
}


.ir br {
    display: none;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}


.clearfix:before,
header:before,
.clearfix:after,
header:after {
    content: "";
    display: table;
}


.clearfix:after,
header:after {
    clear: both;
}

.clearfix,
header {
    *zoom: 1;
}


/* =============================================================================

	HTML elements
*/

html {
    margin: 0;
    padding: 0;
    width: 100%;
}


* {
    box-sizing: border-box;
}


body {
    background: #FFFFFF;
    font: 16px 'KabelDemi', Arial, Helvetica, sans-serif;
    color: #333333;
    margin: 0;
    padding: 0;
    width: 100%;
}


a,
a:visited {
    text-decoration: none;
    color: #666666;
    outline: none;
    -moz-transition: ease-in-out 0.25s all;
    -o-transition: ease-in-out 0.25s all;
    -webkit-transition: ease-in-out 0.25s all;
    transition: ease-in-out 0.25s all;
}


a:hover,
a:visited:hover {
    color: #D63A3D;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'KabelDemi', Arial, Helvetica, sans-serif;
}


h2 {
    margin: 0 0 20px 0;
    padding: 0;
    display: block;
    font-size: 21px;
    font-weight: normal;
    line-height: normal;
    text-align: left;
    color: #666666;
}

h3 {
    margin: 0 0 10px 0;
    padding: 0;
    font-size: 16px;
    font-weight: normal;
    line-height: normal;
    text-align: left;
    color: #333333;
}


h4 {
    margin: 0;
    padding: 18px 0;
    color: #333333;
    font-size: 17px;
    font-weight: normal;
    line-height: 24px;
    text-align: left;
    border: none;
}


h5 {
    margin: 0;
    padding: 20px 0 0 0;
    color: #00A79D;
    font-size: 40px;
    font-weight: normal;
    line-height: normal;
    text-align: center;
    border: none;
}


ul,
ol {
    line-height: 1.8em;
    list-style-position: inside;
    margin: 0;
    padding: 8px 0 8px 20px;
}


ul li,
ol li {
    margin: 4px 0 6px;
    font-size: 15px;
    font-family: 'KabelBook', Arial, Helvetica, sans-serif;
    line-height: 20px;
    text-align: left;
    position: relative;
    color: #666666;
}

ol li {
    list-style: decimal;
}


p {
    line-height: normal;
    font-size: 16px;
    font-family: 'KabelBook', Arial, Helvetica, sans-serif;
    color: #666666;
    margin: 0;
    padding: 0 0 26px 0;
    text-align: left;
}

img {
    max-width: 100%;
}

header {
    margin: 0;
    padding: 0;
    width: 100%;
    position: relative;
}

.kt-container {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: 1200px;
    position: relative;
}


#kt-content {
    margin: 0;
    padding: 0;
    min-height: 324px;
    position: relative;
}

footer {
    margin: 0;
    padding: 0;
    width: 100%;
    position: relative;
    background: #333333;
}

.code {
    position: relative;
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
    font-size: 20px;
    line-height: 1.428571429;
    color: #000;
    white-space: pre-line;
}

#contenedor-donar {
    display: block;
    width: 100%;
    padding: 10px 43%;
    margin: 0;
}

#kt-colors {
    margin: 0;
    padding: 0;
    display: block;
    text-align: center;
    width: 100%;
    height: 6px;
    font-size: 0;
}

#kt-colors-top {
    margin: 0;
    padding: 0;
    display: block;
    text-align: center;
    width: 100%;
    height: 3px;
    font-size: 0;
}

#kt-colors-bottom {
    margin: 0;
    padding: 0;
    display: block;
    text-align: center;
    width: 100%;
    height: 6px;
    font-size: 0;
}

#kt-colors>div {
    margin: 0;
    padding: 0;
    width: 0;
    max-width: 8.33%;
    height: 6px;
    display: inline-block;
    vertical-align: top;
    animation: fullwidth 3s forwards;
    animation-delay: 1s;
    -webkit-animation: fullwidth 3s forwards;
    -webkit-animation-delay: 1s;
    /* Chrome, Safari, Opera */
}

#kt-colors-top>div {
    margin: 0;
    padding: 0;
    width: 0;
    max-width: 16.66%;
    height: 3px;
    display: inline-block;
    vertical-align: top;
    animation: fullwidth 3s forwards;
    animation-delay: 1s;
    -webkit-animation: fullwidth 3s forwards;
    -webkit-animation-delay: 1s;
    /* Chrome, Safari, Opera */
}

#kt-colors-bottom>div {
    margin: 0;
    padding: 0;
    width: 0;
    max-width: 16.66%;
    height: 6px;
    display: inline-block;
    vertical-align: top;
    animation: fullwidth 3s forwards;
    animation-delay: 1s;
    -webkit-animation: fullwidth 3s forwards;
    -webkit-animation-delay: 1s;
    /* Chrome, Safari, Opera */
}

#kt-colors>div.blue {
    background: #1B75BB;
}

#kt-colors-top>div.blue,
#kt-colors-bottom>div.blue {
    background: #3366cc;
}

#kt-colors-top>div.blue-dark,
#kt-colors-bottom>div.blue-dark {
    background: #333366;
}


#kt-colors>div.purple {
    background: #262261;
}

#kt-colors-top>div.purple,
#kt-colors-bottom>div.purple {
    background: #993366;
}


#kt-colors>div.purple-light {
    background: #9E1E62;
}


#kt-colors>div.orange {
    background: #F05A28;
}

#kt-colors-top>div.orange,
#kt-colors-bottom>div.orange {
    background: #ff6633;
}


#kt-colors>div.green {
    background: #8CC63E;
}

#kt-colors-top>div.green,
#kt-colors-bottom>div.green {
    background: #99cc33;
}


#kt-colors>div.green-dark {
    background: #00A79D;
}

#kt-colors-top>div.turquoise,
#kt-colors-bottom>div.turquoise {
    background: #009999;
}


/* Chrome, Safari, Opera */

@-webkit-keyframes fullwidth {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes fullwidth {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}


#kt-logo {
    margin: 0;
    padding: 0;
    width: 217px;
    height: 116px;
    display: block;
    position: absolute;
    top: 20px;
    overflow: hidden;
    z-index: 10;
}

header #kt-header-content {
    min-height: 147px;
    font-size: 0;
    text-align: right;
}

header #kt-header-top-menu {
    min-height: 38px;
    font-size: 0;
    text-align: right;
}


header #kt-header-content .kt-header-content-top {
    text-align: right;
}


.moduletable {
    margin: 0 0 0 3px;
    padding: 0;
    display: inline-block;
    vertical-align: top;
}


.moduletable.kt-idiomas {
    margin-right: 14px;
}


.moduletable.kt-idiomas .mod-languages ul li {
    margin: 0 0 0 2px;
    padding: 0;
    display: inline-block;
}


.moduletable.kt-idiomas .mod-languages ul li a {
    margin: 0;
    padding: 0;
    display: block;
    width: 38px;
    height: 38px;
    font-family: 'KabelDemi', Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 38px;
    text-align: center;
    color: #00A79D;
    background-color: #e7e7e8;
}


.moduletable.kt-idiomas .mod-languages ul li a:hover {
    color: white;
    background: #00A79D;
}


.moduletable.kt-idiomas .mod-languages ul li.lang-active a {
    color: white;
    background: #00A79D;
}


.moduletable.kt-idiomas .mod-languages ul li:first-child {
    margin: 0;
}


.moduletable.kt-redes-sociales ul {
    margin: 0;
    padding: 0;
    font-size: 0;
}


.moduletable.kt-redes-sociales ul li {
    margin: 0;
    padding: 0;
    display: inline-block;
}


.moduletable.kt-redes-sociales ul li a {
    margin: 0;
    padding: 0;
    text-indent: 10000px;
    overflow: hidden;
    width: 32px;
    height: 32px;
    line-height: 32px;
    display: block;
    position: relative;
    text-align: right;
}


.moduletable.kt-redes-sociales ul li a::after {
    margin: 0;
    padding: 0;
    top: 0;
    right: 0;
    font-family: 'FontAwesome';
    font-size: 18px;
    position: absolute;
    text-align: center;
    color: white;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-indent: 0;
}


.moduletable.kt-redes-sociales ul li:nth-child(1) a {
    background: #47639E;
}


.moduletable.kt-redes-sociales ul li:nth-child(1) a::after {
    content: '\f09a';
}


.moduletable.kt-redes-sociales ul li:nth-child(2) a {
    background: #50D3FF;
}


.moduletable.kt-redes-sociales ul li:nth-child(2) a::after {
    content: '\f099';
}


.moduletable.kt-redes-sociales ul li:nth-child(3) a {
    background: #2A5B83;
}

.moduletable.kt-redes-sociales ul li:nth-child(3) a::after {
    content: '\f16d';
}


.moduletable.kt-redes-sociales ul li:nth-child(4) a {
    background: #E0383E;
}


.moduletable.kt-redes-sociales ul li:nth-child(4) a::after {
    content: '\f16a';
}

/*============================================*/
/*--============ Tienda virtual ============--*/
/*============================================*/

.moduletable.kt-tienda-virtual p,
.moduletable.kt-tienda-virtual p {
    margin: 0;
    padding: 0;
    display: inline-block;
}

.moduletable.kt-tienda-virtual p a {
    margin: 0;
    /* padding: 0 0 0 10px; */
    padding: 0px;
    display: block;
    font-family: 'KabelDemi', Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 36px;
    text-align: center;
    color: white;
    background: #666666;
}

.moduletable.kt-tienda-virtual p a {
    margin: 0;
    /* padding: 0 0 0 10px; */
    padding: 0 19px;
    display: block;
    font-family: 'KabelDemi', Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 36px;
    text-align: center;
    color: white;
    background: #F05A28;
}

.moduletable.kt-tienda-virtual p a span {
    /* margin-left: 10px; */
    padding: 0 28px;
    display: inline-block;
    line-height: 36px;
    background: #993366;
    color: #FFF;
}

.moduletable.kt-tienda-virtual p a span {
    /* margin-left: 10px; */
    padding: 0 28px;
    display: inline-block;
    line-height: 36px;
    background: #666666;
    color: #FFF;
}

.moduletable.kt-tienda-virtual p a span:hover {
    background: black;
}

.moduletable.kt-tienda-virtual p a span::after {
    margin-left: 8px;
    font-family: 'FontAwesome';
    content: '\f105';
    font-size: 18px;
}

.moduletable.kt-tienda-virtual p a span::after {
    margin-left: 8px;
    font-family: 'FontAwesome';
    content: '\f105';
    font-size: 18px;
}

.moduletable.kt-tienda-virtual p a:hover {
    background: #00A79D;
}                                        
/*============================================*/
/*--========^^^^ Tienda virtual ^^^^========--*/
/*============================================*/

/*============================================*/
/*--=========== Hacer Donaciones ===========--*/
/*============================================*/
.moduletable.kt-dona-ahora p {
    margin: 0;
    padding: 0;
    display: inline-block;
}

.moduletable.kt-hacer-donaciones p a {
    margin: 0;
    padding: 0 19px;
    display: block;
    font-family: 'KabelDemi', Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 36px;
    text-align: center;
    color: white;
    background: #F05A28;
}

.moduletable.kt-hacer-donaciones p a:hover {
    background: #00A79D;
}

.moduletable.kt-hacer-donaciones p a::after {
    margin-left: 8px;
    font-family: 'FontAwesome';
    content: '\f105';
    font-size: 18px;
}
/*============================================*/
/*--=======^^^^ Hacer Donaciones ^^^^=======--*/
/*============================================*/

#kt-main-menu .menu {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    display: block;
    position: relative;
    text-align: center;
    font-size: 0;
}

#kt-main-menu .menu>li {
    margin: 0;
    padding: 0 30px;
    text-align: center;
    display: inline-block;
    position: relative;
    vertical-align: top;
}

#kt-main-menu .menu>li>a {
    margin: 0;
    padding: 0;
    display: block;
    font-family: 'KabelDemi', Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: normal;
    color: #666666;
    line-height: 78px;
    text-align: center;
    outline: none;
    position: relative;
    text-decoration: none;
    -moz-transition: ease-in-out 0.25s all;
    -o-transition: ease-in-out 0.25s all;
    -webkit-transition: ease-in-out 0.25s all;
    transition: ease-in-out 0.25s all;
}

#kt-main-menu .menu>li>a:hover {
    color: #D63A3D;
}


#kt-main-menu .menu>li:first-child {
    padding-left: 0 !important;
}

#kt-main-menu .menu>li.active a {
    color: #D63A3D;
}


#kt-main-menu .menu>li.active ul li a {
    color: #666666;
}

#kt-main-menu .menu>li.parent {
    position: relative;
}

#kt-main-menu .menu>li.parent::after {
    margin: 0 0 0 -8px;
    padding: 0;
    width: 18px;
    line-height: 10px;
    text-align: center;
    font-family: 'FontAwesome';
    content: '\f0d8';
    bottom: 0;
    left: 50%;
    position: absolute;
    font-size: 28px;
    color: #EEEEEE;
    max-height: 0;
    overflow: hidden;
    -moz-transition: ease-in-out 0.35s all;
    -o-transition: ease-in-out 0.35s all;
    -webkit-transition: ease-in-out 0.35s all;
    transition: ease-in-out 0.35s all;
}

#kt-main-menu .menu>li.parent ul {
    margin: 0 0 0 -120px;
    padding: 0 26px;
    border: none;
    position: absolute;
    top: 78px;
    left: 50%;
    display: block;
    z-index: 10;
    width: 270px;
    max-height: 0;
    text-align: left;
    overflow: hidden;
    background: #EEEEEE;
    -moz-transition: ease-in-out 0.35s all;
    -o-transition: ease-in-out 0.35s all;
    -webkit-transition: ease-in-out 0.35s all;
    transition: ease-in-out 0.35s all;
}

#kt-main-menu .menu>li.parent ul li {
    margin: 0;
    padding: 0;
    display: block;
    background: none;
    position: relative;
}

#kt-main-menu .menu>li.parent ul li a {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 34px;
    text-align: left;
    font-family: 'KabelDemi', Arial, Helvetica, sans-serif;
    color: #666666;
}

#kt-main-menu .menu>li.parent ul li a:hover {
    color: #D63A3D;
}

#kt-main-menu .menu>li.parent ul li.active a {
    color: #D63A3D;
}


#kt-main-menu .menu>li.parent:hover ul {
    padding: 32px 26px;
    max-height: 1000px;
}


#kt-main-menu .menu>li.parent:hover::after {
    max-height: 10px;
}


#kt-slideshow {
    margin: 0;
    padding: 0;
    position: relative;
    display: block;
    width: 100%;
    max-height: 800px;
    overflow: hidden;
    background: none;
}

#kt-slideshow .moduletable {
    margin: 0;
    padding: 0;
    width: 100%;
    max-height: 800px;
    display: block;
    position: relative;
    overflow: hidden;
}

#kt-slideshow ul .owl-item:nth-child(1) .description {
    background: rgba(214, 58, 61, 0.95);
}

#kt-slideshow ul li {
    margin: 0;
    padding: 0;
}

#kt-slideshow ul li .media {
    margin: 0;
    padding: 0;
}

#kt-slideshow ul li .description {
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    z-index: 4;
    text-align: right;
}

#kt-slideshow ul li .description .kt-container .element-image {
    margin: 0;
    padding: 10px;
    position: relative;
    display: table-cell;
    vertical-align: middle;
}

#kt-slideshow ul li .description .kt-container .element-image img {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
}

#kt-slideshow ul li .description .kt-container .element-text {
    margin: 0;
    padding: 36px 10px;
    max-width: 870px;
    display: table-cell;
    vertical-align: middle;
    font-family: 'KabelDemi', Arial, Helvetica, sans-serif;
    font-size: 19px;
    line-height: 23px;
    color: white;
    text-align: left;
}

#kt-front #kt-content {
    margin: 0;
    padding: 0;
    min-height: 0;
    font-size: 0;
}

#kt-front #kt-content #kt-informacion-portada {
    margin: 0;
    padding: 0;
    width: 100%;
}

#kt-front #kt-content #kt-informacion-portada .moduletable {
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 33.33%;
}

#kt-front #kt-content #kt-informacion-portada .moduletable .custom {
    margin: 0;
    padding: 0;
    display: block;
    position: relative;
    width: 100%;
}


#kt-front #kt-content #kt-informacion-portada .moduletable .custom h2 {
    margin: 0;
    padding: 0;
    display: block;
}


#kt-front #kt-content #kt-informacion-portada .moduletable .custom h2 a {
    margin: 0;
    padding: 0 24px;
    position: relative;
    font-family: 'KabelDemi', Arial, Helvetica, sans-serif;
    font-size: 22px;
    line-height: 90px;
    text-align: left;
    color: white;
    display: block;
}

#kt-front #kt-content #kt-informacion-portada .moduletable .custom h2 a::before {
    font-family: 'FontAwesome';
    content: '\f105';
    font-size: 37px;
    float: right;
}


#kt-front #kt-content #kt-informacion-portada .moduletable:nth-child(1) h2 a {
    background: #8CC63E;
}

#kt-front #kt-content #kt-informacion-portada .moduletable:nth-child(2) h2 a {
    background: #1B75BB;
}




#kt-front #kt-content #kt-informacion-portada .moduletable:nth-child(3) h2 a {
    background: #F05A28;
}


#kt-no-front section {
    margin: 0 0 30px 0;
    padding: 0;
    width: 100%;
    display: block;
    min-height: 300px;
    position: relative;
    border-bottom: 1px solid #DDDDDD;
}


#kt-no-front.kt-contenido section .kt-top {
    margin: 0 0 36px 0;
    padding: 0;
    width: 100%;
    display: block;
    background: #58585A;
    font-size: 0;
    position: relative;
}


#kt-no-front.kt-contenido section .kt-top .kt-top-title {
    margin: 0 auto;
    padding: 60px 0;
    width: 100%;
    max-width: 1200px;
    text-align: left;
    position: relative;
    display: block;
    z-index: 2;
    border: none;
}


#kt-no-front.kt-contenido section .kt-top .kt-top-title .pos-title {
    margin: 0 0 8px 0;
    padding: 0 22px;
    display: block;
    width: 100%;
    max-width: 50%;
    font-size: 40px;
    color: white;
    line-height: normal;
    text-transform: uppercase;
}


#kt-no-front.kt-contenido section .kt-top .kt-top-title .pos-subtitle {
    margin: 0;
    padding: 0 22px;
    display: block;
    width: 100%;
    max-width: 50%;
}


#kt-no-front.kt-contenido section .kt-top .kt-top-title .pos-subtitle p {
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: white;
    line-height: normal;
}


#kt-no-front.kt-contenido section .kt-top .kt-top-img {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 50%;
    height: 100%;
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    z-index: 1;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
}


#kt-no-front.kt-contenido section .kt-top .kt-top-img .element-image {
    display: none;
}


#kt-no-front.kt-contenido section .-contactos {
    margin: 0;
}


#kt-no-front.kt-contenido section .-contactos .kt-container .pos-bottom table tbody tr td ul {
    margin: 0 0 15px 0;
    padding: 0;
    font-size: 0;
}


#kt-no-front.kt-contenido section .-contactos .kt-container .pos-bottom table tbody tr td ul li {
    margin: 4px 0 6px 2%;
    padding: 0 0 0 20px;
    display: inline-block;
    width: 100%;
    max-width: 30%;
    vertical-align: top;
    position: relative;
    line-height: normal;
}


#kt-no-front.kt-contenido section .floatbox {
    margin: 0 0 36px 0;
    position: 0;
    font-size: 0;
}


#kt-no-front.kt-contenido section .floatbox .uk-margin:nth-child(1) {
    background-color: #F05A28;
}


#kt-no-front.kt-contenido section .floatbox .uk-margin:nth-child(2) {
    background-color: #8CC63E;
}


#kt-no-front.kt-contenido section .floatbox .uk-margin h2 {
    margin: 0 0 10px 0;
    padding: 0;
    color: white;
    font-size: 30px;
}


#kt-no-front.kt-contenido section .floatbox .uk-margin p {
    margin: 0;
    padding: 0;
    color: white;
}


#kt-no-front.kt-contenido section .floatbox .uk-margin ul {
    margin: 0;
    padding: 0;
}

#kt-no-front.kt-contenido section .floatbox .uk-margin ul li {
    margin: 0;
    padding: 0;
    color: white;
    display: block;
}


#kt-no-front.kt-contenido section .pos-bottom table {
    text-align: center;
}


.zoo-pagination {
    padding: 20px 0;
    text-align: center;
}

.zoo-pagination a {
    margin: 0 4px 8px 4px;
    padding: 0;
    display: inline-block;
    width: 30px;
    height: 30px;
    color: #000;
    font-size: 12px;
    line-height: 30px;
    text-align: center;
    background: #DDDDDD;
    vertical-align: top;
}


.zoo-pagination a.start,
.zoo-pagination a.previous,
.zoo-pagination a.next,
.zoo-pagination a.end {
    font-size: 16px;
    line-height: 26px;
}



.zoo-pagination a:hover {
    color: #000;
}



.zoo-pagination span {
    margin: 0 4px 8px 4px;
    padding: 0;
    display: inline-block;
    width: 30px;
    height: 30px;
    color: #fff;
    font-size: 12px;
    line-height: 30px;
    text-align: center;
    background: #F05A28;
    vertical-align: top;
}




form {
    margin: 0;
    padding: 0;
    text-align: left;
    width: 100%;
}



form>div {
    margin: 0 0 10px 0;
    padding: 0 10px 0 0;
    width: 50%;
    display: inline-block;
    text-align: left;
}



form>div:nth-child(2n+2) {
    padding: 0 0 0 10px;
}


form label {
    margin: 0;
    padding: 0 0 8px 0;
    display: block;
    font-weight: bold;
    text-align: left;
}



form input {
    margin: 0;
    padding: 10px;
    width: 100%;
    border: 1px solid #D8D8D8;
    position: relative;
    background: white;
    color: #333333;
    display: inline-table;
    font-size: 12px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-transition: ease-in-out 0.25s all;
    -o-transition: ease-in-out 0.25s all;
    -webkit-transition: ease-in-out 0.25s all;
    transition: ease-in-out 0.25s all;
}


form input:focus.vanadium-invalid,
form input.vanadium-invalid {
    color: white;
}


form textarea {
    width: 100%;
    height: 80px;
    font-size: 12px;
    border: 1px solid #DCDCDC;
    position: relative;
    margin: 0 0 20px 0;
    padding: 20px 2%;
    background: white;
    color: #666666;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}


form button {
    margin: 0;
    padding: 5px 15px;
    position: relative;
    display: inline-block;
    line-height: 20px;
    color: white;
    font-size: 13px;
    font-family: 'montserratregular', Arial, Helvetica, sans-serif;
    font-weight: normal;
    text-align: center;
    background: #959595;
    border: 1px solid #959595;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-transition: ease-in-out 0.25s all;
    -o-transition: ease-in-out 0.25s all;
    -webkit-transition: ease-in-out 0.25s all;
    transition: ease-in-out 0.25s all;
}


form button:hover {
    background: #D63A3D;
    text-shadow: 1px 1px #333;
}


.rsform-error {
    border-bottom: 1px dotted #D63A3D !important;
}


footer #kt-footer-content {
    margin: 0;
    padding: 52px 10px;
    overflow: hidden;
}


footer #kt-footer-content #kt-footer-info {
    margin: 0;
    display: inline-block;
    vertical-align: top;
    text-align: left;
}


footer #kt-footer-content #kt-footer-info .moduletable {
    margin: 0;
    padding: 0 0 0 36px;
    display: inline-table;
    vertical-align: top;
}


footer #kt-footer-content #kt-footer-info .moduletable h3 {
    margin: 0;
    padding: 0;
    font-family: 'OpenSans', Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #CCCCCC;
    font-weight: bold;
}


footer #kt-footer-content #kt-footer-info .moduletable p {
    margin: 0;
    padding: 0;
    font-family: 'OpenSans', Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #CCCCCC;
}


footer #kt-footer-content #kt-footer-info .moduletable p a {
    color: #CCCCCC;
}


footer #kt-footer-content #kt-footer-info .moduletable:first-child {
    padding-left: 0;
}


footer #kt-footer-content #kt-footer-copyright {
    margin: 0;
    display: inline-block;
    float: right;
    text-align: right;
    vertical-align: top;
}


footer #kt-footer-content #kt-footer-copyright #kt-info {
    margin: 0 22px 0 0;
    padding: 0;
    display: inline-block;
    vertical-align: top;
}


footer #kt-footer-content #kt-footer-copyright p {
    margin: 0;
    padding: 0 0 10px 0;
    color: #CCCCCC;
    position: relative;
    font-size: 12px;
    line-height: 18px;
    text-align: right;
    display: block;
}


footer #kt-footer-content #kt-footer-copyright p a {
    color: #CCCCCC;
}


footer #kt-footer-content #kt-footer-copyright .kt-dona-ahora p {
    margin: 0;
    padding: 0;
}


footer #kt-footer-content #kt-footer-copyright .kt-dona-ahora p a {
    color: white;
}


footer #kt-footer-content #kt-footer-copyright #kt-footer-logo {
    margin: 0;
    padding: 0;
    display: inline-block;
    vertical-align: top;
}


iframe {
    border: none;
    max-width: 100%;
}

.bottom-header {
    background-color: #00aeef;
}

.moduletable.kt-contenido-header {
    padding: 75px 50px;
    color: #FFF;
}

.moduletable.kt-contenido-header h3 {
    font-size: 1.875em;
    margin: 0;
    color: #FFF;
    line-height: 20px;
}

.moduletable.kt-contenido-header h1 {
    font-size: 2.813em;
    margin: 0 0 25px 0;
    color: #FFF;
}

.moduletable.kt-contenido-header p {
    font-size: 21px;
    margin: 0;
    line-height: 25px;
    color: #FFF;
}

.moduletable.kt-contenido-header p>b {
    font-family: 'KabelDemi', Arial, Helvetica, sans-serif;
}

/*===========================================*/
/*============ HACER DONACIONES =============*/

.donar-header {
    background-color: #646a6d;
}

.moduletable.kt-donaciones-header {
    padding: 75px 50px;
    color: #FFF;
}

.moduletable.kt-donaciones-header h3 {
    font-size: 1.875em;
    margin: 0;
    color: #FFF;
    line-height: 20px;
}

.moduletable.kt-donaciones-header h1 {
    font-size: 2.813em;
    margin: 0 0 25px 0;
    color: #FFF;
}

.moduletable.kt-donaciones-header p {
    font-size: 21px;
    margin: 0;
    line-height: 25px;
    color: #FFF;
}

.moduletable.kt-donaciones-header p>b {
    font-family: 'KabelDemi', Arial, Helvetica, sans-serif;
}

#kt-front #kt-content #kt-informacion-portada .kt-mision-slide-bottom {
    background-color: #333366;
    color: #FFF;
    min-height: 258px;
    padding: 68px 48px 0px 48px;
}

#kt-front #kt-content #kt-informacion-portada .kt-mision-slide-bottom h2,
#kt-front #kt-content #kt-informacion-portada .kt-vision-slide-bottom h2 {
    font-family: 'KabelDemi', Arial, Helvetica, sans-serif;
    font-size: 45px;
    color: #FFF;
}

#kt-front #kt-content #kt-informacion-portada .kt-mision-slide-bottom p,
#kt-front #kt-content #kt-informacion-portada .kt-vision-slide-bottom p {
    font-size: 18px;
    color: #FFF;
}

#kt-front #kt-content #kt-informacion-portada .kt-vision-slide-bottom {
    background-color: #00A79D;
    color: #FFF;
    min-height: 258px;
    padding: 68px 48px 0px 48px;
}

#kt-front #kt-content #kt-informacion-portada .kt-valores-slide-bottom {
    background-color: #333366;
    color: #FFF;
    min-height: 258px;
    padding: 68px 48px 0px 48px;
}

#kt-front #kt-content #kt-informacion-portada .kt-valores-slide-bottom h2 {
    font-family: 'KabelDemi', Arial, Helvetica, sans-serif;
    font-size: 45px;
    color: #FFF;
}

#kt-front #kt-content #kt-informacion-portada .kt-valores-slide-bottom p {
    font-size: 18px;
    padding: 0 0 14px 0;
    color: #FFF;
}

#kt-titulo-programa-portada .moduletable {
    display: block;
    overflow: hidden;
}

#kt-titulo-programa-portada .moduletable h3 {
    font-family: 'KabelDemi', Arial, Helvetica, sans-serif;
    font-size: 45px;
    color: #666666;
    margin: 48px 0 38px;
}

#kt-titulo-programa-portada .wk-slideset-default article,
#kt-titulo-programa-portada #kt-programa-pbo .wk-zoo-item div.description {
    margin: 0px;
}

#kt-titulo-programa-portada #kt-programa-pbo .wk-zoo-item p.meta {
    padding: 0px;
}

.noticias-bottom {
    background-color: #58585a;
}

.noticias-bottom p {
    margin: 0;
    padding: 0;
}

.noticias-bottom p a {
    font-family: 'KabelDemi', Arial, Helvetica, sans-serif;
    color: #FFF;
    font-size: 18px;
    line-height: 70px;
    padding-left: 40px;
}

